body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222020;
    color:white;
}

header {
    display: flex;
    justify-content: space-between; /* Distributes space between children */
    align-items: center; /* Vertically centers items */
    background-color: #282c34;
    color: white;
    padding: 0px;
}

nav {
    margin-left: auto; /* Pushes nav to the right */
}

.nevbar1 {
    list-style: none;
    padding: 0;
    display: flex;
}

.nevbar1 li {
    margin: 0 10px;
}

.nevbar1 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;

}

.nevbar1 a:hover {
    background-color: #575757;
    border-radius: 5px;
    text-decoration: underline;
    /* text-decoration-color:white;
    color:red; */
}

#logo {
    max-width: 80px; /* Adjust the logo size */
    margin-top: 0%;
}

.d1 h1 {
    font-size: 3.5em;
    margin: 20px 0;
    text-align: center;
}

#img1 {
    max-width: 250px; /* Adjust the logo size */
    height: auto;
    margin-left: 05%;
    filter: brightness(0.9);
    /* margin-right: 05px; */
}

.info {
    display: flex;
    align-items: flex-start;   /* Align items at the start */
    margin-top: 20px; /* Aligns items vertically in the center */
    color: aqua;
}

.info h2 {
    margin: 0; /* Remove default margin */
    font-size: 2em; /* Adjust font size as needed */
    padding-left: 5%;
    color: red;
}
p
{
    margin: 0; /* Remove default margin */
    font-size: 1.5em; /* Adjust font size as needed */
    padding-left: 00%;
}

#main1
{
    background-color: #282c34;
    /* max-width: 800px; Limit the width of the main content */
    margin: 0 auto;   /* Center the main container */
    padding: 20px;    /* Add some padding */
}

.info p
{
    margin-top: 10px; 
    margin-left: 30px;
    color: aqua
}

#main2
{
    margin: auto;
    background-color: #282c34;
    display: flex;
}
